openapi: 3.0.3
info:
  title: TutorCruncher Agents Contractors API
  description: 'REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors. The API exposes the core domain - clients, recipients (students), contractors (tutors), agents, services (jobs), appointments (lessons), invoices, payment orders, proforma invoices, ad hoc charges, and reference data - plus HTTP webhooks for event notifications.

    Base URL: https://app.tutorcruncher.com/api/. Authentication uses a private API key (found under Integrations) sent in the Authorization header as `token <API KEY>`. All list endpoints are paginated with up to 100 objects per page and return `count`, `next`, `previous`, and `results`. Requests are rate limited to 100 per minute. This document targets API v2 (v1 was deprecated 2025-07-03); in v2, users are updated by ID (for example `POST /api/clients/{id}/`) rather than by email.

    Note: TutorCruncher''s "Socket" is a JavaScript embed (https://cdn.tutorcruncher.com/socket/latest/socket.js) for publishing public tutor and lesson listings on a website; it is not a WebSocket API and is not modeled here. Event delivery is via HTTP webhooks.'
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Contractors
  description: Tutors who deliver lessons.
paths:
  /contractors/:
    get:
      operationId: listContractors
      tags:
      - Contractors
      summary: List contractors (tutors)
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of contractors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      operationId: createContractor
      tags:
      - Contractors
      summary: Create a contractor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
      responses:
        '201':
          description: Contractor created.
  /contractors/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getContractor
      tags:
      - Contractors
      summary: Retrieve a contractor
      responses:
        '200':
          description: A contractor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
    post:
      operationId: updateContractor
      tags:
      - Contractors
      summary: Update a contractor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
      responses:
        '200':
          description: Contractor updated.
    delete:
      operationId: deleteContractor
      tags:
      - Contractors
      summary: Delete a contractor
      responses:
        '204':
          description: Contractor deleted.
  /contractors/{id}/availability/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getContractorAvailability
      tags:
      - Contractors
      summary: Get contractor availability
      responses:
        '200':
          description: Availability slots for the contractor.
  /public-contractors/:
    get:
      operationId: listPublicContractors
      tags:
      - Contractors
      summary: List public contractor profiles
      description: Read-only public tutor profiles for website listings.
      responses:
        '200':
          description: Paginated list of public contractor profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
components:
  schemas:
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            type: object
    Contractor:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        status:
          type: string
        skills:
          type: array
          items:
            type: integer
        qualifications:
          type: array
          items:
            type: integer
      required:
      - last_name
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (100 objects per page).
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
