openapi: 3.2.0
info:
  title: TutorCruncher Clients API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Clients
  description: Paying customers (parents or organizations).
paths:
  /clients/:
    get:
      operationId: listClients
      tags:
      - Clients
      summary: List clients
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of clients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createClient
      tags:
      - Clients
      summary: Create a client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: Client created.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /clients/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getClient
      tags:
      - Clients
      summary: Retrieve a client
      responses:
        '200':
          description: A client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: updateClient
      tags:
      - Clients
      summary: Update a client
      description: In API v2, clients are updated by ID via POST.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: Client updated.
    delete:
      operationId: deleteClient
      tags:
      - Clients
      summary: Delete a client
      responses:
        '204':
          description: Client deleted.
components:
  schemas:
    Client:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        status:
          type: string
        pipeline_stage:
          type:
          - integer
          - 'null'
        labels:
          type: array
          items:
            type: integer
      required:
      - last_name
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            type: object
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (100 objects per page).
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: Missing or invalid API key.
    NotFound:
      description: Object not found.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
