openapi: 3.2.0
info:
  title: TutorCruncher Contractors API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Contractors
  description: Tutors who deliver lessons.
paths:
  /contractors/:
    get:
      operationId: listContractors
      tags:
      - Contractors
      summary: List contractors (tutors)
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of contractors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      operationId: createContractor
      tags:
      - Contractors
      summary: Create a contractor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
      responses:
        '201':
          description: Contractor created.
  /contractors/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getContractor
      tags:
      - Contractors
      summary: Retrieve a contractor
      responses:
        '200':
          description: A contractor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
    post:
      operationId: updateContractor
      tags:
      - Contractors
      summary: Update a contractor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
      responses:
        '200':
          description: Contractor updated.
    delete:
      operationId: deleteContractor
      tags:
      - Contractors
      summary: Delete a contractor
      responses:
        '204':
          description: Contractor deleted.
  /contractors/{id}/availability/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getContractorAvailability
      tags:
      - Contractors
      summary: Get contractor availability
      responses:
        '200':
          description: Availability slots for the contractor.
  /public-contractors/:
    get:
      operationId: listPublicContractors
      tags:
      - Contractors
      summary: List public contractor profiles
      description: Read-only public tutor profiles for website listings.
      responses:
        '200':
          description: Paginated list of public contractor profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
components:
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (100 objects per page).
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
  schemas:
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            type: object
    Contractor:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        status:
          type: string
        skills:
          type: array
          items:
            type: integer
        qualifications:
          type: array
          items:
            type: integer
      required:
      - last_name
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
