openapi: 3.2.0
info:
  title: TutorCruncher Reference API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Reference
  description: Reference data - subjects, countries, categories, action types.
paths:
  /subjects/:
    get:
      operationId: listSubjects
      tags:
      - Reference
      summary: List subjects
      responses:
        '200':
          description: List of subjects.
  /countries/:
    get:
      operationId: listCountries
      tags:
      - Reference
      summary: List countries
      responses:
        '200':
          description: List of countries.
  /contractor-skills/:
    get:
      operationId: listContractorSkills
      tags:
      - Reference
      summary: List contractor skills
      responses:
        '200':
          description: List of contractor skills.
  /qualification-levels/:
    get:
      operationId: listQualificationLevels
      tags:
      - Reference
      summary: List qualification levels
      responses:
        '200':
          description: List of qualification levels.
  /labels/:
    get:
      operationId: listLabels
      tags:
      - Reference
      summary: List labels
      responses:
        '200':
          description: List of labels.
  /pipeline-stages/:
    get:
      operationId: listPipelineStages
      tags:
      - Reference
      summary: List pipeline stages
      responses:
        '200':
          description: List of pipeline stages.
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
