openapi: 3.2.0
info:
  title: TutorCruncher Agents API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Agents
  description: Affiliates / agents.
paths:
  /agents/:
    get:
      operationId: listAgents
      tags:
      - Agents
      summary: List agents (affiliates)
      responses:
        '200':
          description: Paginated list of agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      operationId: createAgent
      tags:
      - Agents
      summary: Create an agent
      responses:
        '201':
          description: Agent created.
  /agents/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getAgent
      tags:
      - Agents
      summary: Retrieve an agent
      responses:
        '200':
          description: An agent.
components:
  schemas:
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            type: object
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
