openapi: 3.2.0
info:
  title: TutorCruncher Appointments API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Appointments
  description: Appointments (individual lessons / sessions).
paths:
  /appointments/:
    get:
      operationId: listAppointments
      tags:
      - Appointments
      summary: List appointments (lessons)
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of appointments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      operationId: createAppointment
      tags:
      - Appointments
      summary: Create an appointment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
      responses:
        '201':
          description: Appointment created.
  /appointments/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getAppointment
      tags:
      - Appointments
      summary: Retrieve an appointment
      responses:
        '200':
          description: An appointment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
    post:
      operationId: updateAppointment
      tags:
      - Appointments
      summary: Update an appointment
      responses:
        '200':
          description: Appointment updated.
    delete:
      operationId: deleteAppointment
      tags:
      - Appointments
      summary: Delete an appointment
      responses:
        '204':
          description: Appointment deleted.
components:
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (100 objects per page).
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
  schemas:
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            type: object
    Appointment:
      type: object
      properties:
        id:
          type: integer
        service:
          type: integer
        start:
          type: string
          format: date-time
        finish:
          type: string
          format: date-time
        topic:
          type: string
        location:
          type:
          - string
          - 'null'
        recipients:
          type: array
          items:
            type: integer
        contractors:
          type: array
          items:
            type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
