openapi: 3.2.0
info:
  title: TutorCruncher Invoices API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Invoices
  description: Client invoices and payment.
paths:
  /invoices/:
    get:
      operationId: listInvoices
      tags:
      - Invoices
      summary: List invoices
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      operationId: createInvoice
      tags:
      - Invoices
      summary: Create an invoice
      responses:
        '201':
          description: Invoice created.
  /invoices/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getInvoice
      tags:
      - Invoices
      summary: Retrieve an invoice
      responses:
        '200':
          description: An invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /invoices/{id}/take-payment/:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      operationId: takeInvoicePayment
      tags:
      - Invoices
      summary: Take payment for an invoice
      description: Charges the client's stored payment method against the invoice.
      responses:
        '200':
          description: Payment taken.
components:
  schemas:
    Invoice:
      type: object
      properties:
        id:
          type: integer
        client:
          type: integer
        display_id:
          type: string
        gross:
          type: string
        net:
          type: string
        tax:
          type: string
        status:
          type: string
        date_sent:
          type:
          - string
          - 'null'
          format: date-time
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            type: object
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (100 objects per page).
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
