openapi: 3.2.0
info:
  title: TutorCruncher Recipients API
  description: REST API for TutorCruncher, tutoring business management software for agencies, companies, and independent tutors.
  version: '2.0'
  contact:
    name: TutorCruncher
    url: https://tutorcruncher.com
  license:
    name: API documentation - TutorCruncher Terms
    url: https://tutorcruncher.com/terms-and-conditions
servers:
- url: https://app.tutorcruncher.com/api
  description: TutorCruncher API
security:
- tokenAuth: []
tags:
- name: Recipients
  description: Students who receive tutoring.
paths:
  /recipients/:
    get:
      operationId: listRecipients
      tags:
      - Recipients
      summary: List recipients (students)
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of recipients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      operationId: createRecipient
      tags:
      - Recipients
      summary: Create a recipient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipient'
      responses:
        '201':
          description: Recipient created.
  /recipients/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getRecipient
      tags:
      - Recipients
      summary: Retrieve a recipient
      responses:
        '200':
          description: A recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
    post:
      operationId: updateRecipient
      tags:
      - Recipients
      summary: Update a recipient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipient'
      responses:
        '200':
          description: Recipient updated.
    delete:
      operationId: deleteRecipient
      tags:
      - Recipients
      summary: Delete a recipient
      responses:
        '204':
          description: Recipient deleted.
components:
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (100 objects per page).
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      description: The object ID.
      schema:
        type: integer
  schemas:
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            type: object
    Recipient:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        client:
          type: integer
          description: ID of the paying client this recipient belongs to.
        date_of_birth:
          type: string
          format: date
      required:
      - last_name
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Private API key sent as: Authorization: token <API KEY>'
